.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
   background-color: #f0f8ff !important;
   color: #4a90e2;
}

.InputFromTo .DayPicker-Day {
   border-radius: 0 !important;
}

.InputFromTo .DayPicker-Day--start {
   border-top-left-radius: 50% !important;
   border-bottom-left-radius: 50% !important;
}

.InputFromTo .DayPicker-Day--end {
   border-top-right-radius: 50% !important;
   border-bottom-right-radius: 50% !important;
}

.InputFromTo .DayPickerInput input {
   margin: 0 10px;
   width: 115px;
   height: 28px;
   cursor: pointer;
   border: 1px solid #ccc;
   text-align: center;
   font-size: 12px;
   color: #495057;
}

.InputFromTo .DayPickerInput input:hover {
   border: 1px solid #80bdff;
}

.InputFromTo .DayPickerInput input:focus {
   border: 1px solid #80bdff;
}

.InputFromTo .DayPickerInput-Overlay {
   width: 400px;
   padding-bottom: 10px;
}

.InputFromTo .DayPickerInput-Overlay {    
   margin-left: -73px;
}
.InputFromTo-to .DayPickerInput-Overlay {    
   margin-left: -218px;
}

.DayPickerInput input {
   background-color: transparent;
   box-sizing: border-box;
   width: 100px;
   padding: 5px 0;
   text-align: center;
   font-family: 'Overpass',sans-serif;
   font-size: 13px;
   border: 1px solid #ccc;
}
