.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
	background-color: #f0f8ff !important;
	color: #5d95fb;
}

.DayPicker {
	font-size: 11px;
	width: 100%;
}

.DayPicker-Months {
	height: 210px;
	justify-content: space-between;
}
