.reports {
    width: auto;
    background:#fff;
    padding: 20px 30px 5px;
}

.calendar {
    width: calc(100% - 60px);
    background:#fff;
    padding: 30px 30px 5px;
}

.calendar .DayPicker-Caption {
    text-align: center;
}

.reports .DayPicker-Day, .calendar .DayPicker-Day {
    border: 2px solid rgb(221, 221, 221);
    border-radius: 0;
    height: 0;
    width: 14.28%;
}

.calendar .DayPicker-Day--outside {
    background: #fff !important;
    border: 2px solid rgb(221, 221, 221) !important;
}

.calendar .DayPicker-Day--weekend[aria-disabled='true'] {
    background: rgb(244, 244, 244) !important;
}

.DayPicker-Day, .DayPicker-Day:focus {
    outline: none;
}

.reports .DayPicker-WeekdaysRow {
    display: flex;
    position: relative;
    width: 100%;
}

.reports .DayPicker-Body {
    display: block;
    width: 100%;
}

.reports .DayPicker-Weekday:first-child {
    position: absolute;
    border: none;
    top: -1px;
    right: -103px;
    width: 100px;
    height: 25px;
}

.reports .DayPicker-Caption, .calendar .DayPicker-Caption {
    padding: 0;
}

.DayPicker-wrapper, .DayPicker-wrapper:focus {
    outline: none;
}

.reports .DayPicker-Month, .calendar .DayPicker-Month {
    width: 100%;
    margin: 1em 0;
}

.reports .DayPicker-Month {
    width: calc(100% - 103px);
}

.reports .DayPicker-Week {
    position: relative;
    display: table;
    margin-top: -2px;
    width: 100%;
}

.reports .DayPicker-WeekNumber {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 90%;
    top: -1px;
    right: -103px;
    border: none;
    cursor: auto;
}

.reports .DayPicker-Weekday, .calendar .DayPicker-Weekday {
    padding: 0;
    color: #000;
    border: 2px solid rgb(221, 221, 221);
    font-size: 17px;
}

.reports .DayPicker-Weekday {
    width: 25%;
    border: none;
    margin-bottom: 5px;
}

.DayPicker-WeekNumber:focus {
    outline: none;
}

.DayPicker * {
    outline: none;
}

.reports .DayPicker-Months, .calendar .DayPicker-Months {
    height: inherit;
}

.reports .DayPicker-Caption > div, .calendar .DayPicker-Caption > div {
    font-size: 20px;
    margin-bottom: 20px;
}

.calendar .DayPicker-Caption > div {
    margin-top: 15px;
}

.reports .DayPicker-Day--today, .calendar .DayPicker-Day--today {
    background-color:#F0F8FF;
    color: #000;
}

.reports .DayPicker-NavBar {
    position: absolute;
    right: 0;
    top: 8px;
}


