/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
   margin: 0;
   padding: 0;
}

p {
   color: #5e5e5e;
   font-size: .8rem;
}

#root {
   width: 100%;
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-Regular.eot);
   src: url(./fonts/Overpass-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-Regular.woff2) format("woff2"), url(./fonts/Overpass-Regular.woff) format("woff"), url(./fonts/Overpass-Regular.ttf) format("truetype");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-SemiBold.eot);
   src: url(./fonts/Overpass-SemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-SemiBold.woff2) format("woff2"), url(./fonts/Overpass-SemiBold.woff) format("woff"), url(./fonts/Overpass-SemiBold.ttf) format("truetype");
   font-weight: 600;
   font-style: normal
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-Italic.eot);
   src: url(./fonts/Overpass-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-Italic.woff2) format("woff2"), url(./fonts/Overpass-Italic.woff) format("woff"), url(./fonts/Overpass-Italic.ttf) format("truetype");
   font-weight: 400;
   font-style: italic
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-Light.eot);
   src: url(./fonts/Overpass-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-Light.woff2) format("woff2"), url(./fonts/Overpass-Light.woff) format("woff"), url(./fonts/Overpass-Light.ttf) format("truetype");
   font-weight: 300;
   font-style: normal
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-ExtraBold.eot);
   src: url(./fonts/Overpass-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-ExtraBold.woff2) format("woff2"), url(./fonts/Overpass-ExtraBold.woff) format("woff"), url(./fonts/Overpass-ExtraBold.ttf) format("truetype");
   font-weight: 800;
   font-style: normal
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-Bold.eot);
   src: url(./fonts/Overpass-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-Bold.woff2) format("woff2"), url(./fonts/Overpass-Bold.woff) format("woff"), url(./fonts/Overpass-Bold.ttf) format("truetype");
   font-weight: 700;
   font-style: normal
}

@font-face {
   font-family: Overpass;
   src: url(./fonts/Overpass-Black.eot);
   src: url(./fonts/Overpass-Black.eot?#iefix) format("embedded-opentype"), url(./fonts/Overpass-Black.woff2) format("woff2"), url(./fonts/Overpass-Black.woff) format("woff"), url(./fonts/Overpass-Black.ttf) format("truetype");
   font-weight: 900;
   font-style: normal
}

body {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   font-family: 'Overpass', sans-serif;
   background: #f3f4f7;
   /* overflow-x: hidden; */
}

input {
   outline: none;
   border: none;
}

a {
   text-decoration: none;
   color: #5773d3;
   outline: none;
   border: none;
}

button, input {
   font-family: 'Overpass', sans-serif;
   outline: none;
   border: none;
}

textarea {
   font-family: 'Overpass', sans-serif;
   color: #495057;
}

textarea::placeholder {
   opacity: 0.7;
}

button::-moz-focus-inner {
   border: 0;
}
/* hr {
	width: calc(100% + 110px);
	border: 1px solid #727cf5;
	margin-left: -55px;
	margin-bottom: 15px;
	margin-top: 15px;
} */

h1,
h5 {
   color: #3f3f3f;
}

h5 {
   padding: 3px 0;
}

h2 {
   color: #5773d3;
}